﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>

    <p>Ingresa tu post</p>
    <p>Título</p> <input type="text" name="Titulo" placeholder="Título" />
    <p>Autor</p> <input type="text" name="Autor" placeholder="Autor" />
    <p>Contenido</p>
    <textarea placeholder="Ingresa el contenido"></textarea>
    
    
    <input type="submit" value="Enviar"/>

</div>
