﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>@Model.Titulo</h1>
    <p>Detalle del post</p>
    <h5>@Model.Autor</h5>
    <h4>@Model.Contenido</h4>
</div>