﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 text-center mt-3 mb-3">
            <div>
                <hr />
                <h1>@item.Titulo</h1>
                <br />
                <h3>@item.Autor</h3>
                <h5>@item.FechaPub</h5>
                <hr />
            </div>

        </div>

    }
</div>